<!DOCTYPE html>
<html>
<head>
  <title>Gtu forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <ul class="nav nav-pills">


    <li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
    <li role="presentation" class="active"><%= link_to 'Categories', categories_path %></li>

  <% if current_user %>


        <li role="presentation" class="active"> <%= link_to "Log Out", logout_path %></li>
        <li role="presentation" class="nav navbar-nav navbar-right btn-danger"> Logged in as <%= current_user.email %>.</li>

  <% else %>
        <li role="presentation" class="active"><%= link_to "Sign Up", signup_path %></li> or
        <li role="presentation" class="active"><%= link_to "Log In", login_path %></li>
  <% end %>


  </ul>
</head>
<body>

<%= yield %>

</body>
</html>
